.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;
}

.book .book-summary ul.summary>li>a {
    font-weight: bold;
}

@font-face {
    font-family: 'ej2-header-icon';
    src: url('images/fonts/sbfonts.eot?k1u61f');
    src: url('images/fonts/sbfonts.eot?k1u61f#iefix') format('embedded-opentype'), url('images/fonts/sbfonts.ttf?k1u61f') format('truetype'), url('images/fonts/sbfonts.woff?k1u61f') format('woff'), url('images/fonts/sbfonts.svg?k1u61f#sbfonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ej2-header-home';
    src: url('images/fonts/icomoon.eot?k1u61f');
    src: url('images/fonts/icomoon.eot?k1u61f#iefix') format('embedded-opentype'), url('images/fonts/icomoon.ttf?k1u61f') format('truetype'), url('images/fonts/icomoon.woff?k1u61f') format('woff'), url('images/fonts/icomoon.svg?k1u61f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ej2-home {
    font-family: 'ej2-header-home';
}

.ej2-home::before {
    content: '\e901';
}

.b-head-right .fa {
    font-family: 'ej2-header-icon';
    color: rgb(51, 51, 51);
}

.fa-angle-left::before {
    content: '\e701'
}

.fa-angle-right::before {
    content: '\e700'
}

.ej2-route-title a:hover {
    text-decoration: none;
    color: #337ab7;
}

.book .book-summary .ej2-chapter {
    display: none;
}

.book .book-summary .ej2-expanded .ej2-chapter {
    display: block;
}

.btn .pull-left .js-toolbar-action {
    display: none;
}

.book .ej2-code-container {
    height: 100%;
    padding: 10px;
}

.book pre {
    border: 1px solid #ddd;
}

.book .ej2-sample-frame {
    height: 400px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.book .ej2-headers:hover .ej2-anchors .fa-link:before {
    opacity: 1;
}

.book .ej2-headers .ej2-anchors .fa-link:before {
    content: '\f0c1';
    opacity: 0;
}

.book .ej2-anchors {
    color: #757575;
    font-size: 20px;
}

.book .ej2-headers {
    padding-top: 10px;
    margin-top: 0;
}

.book .ej2-headers:hover,
.book .ej2-anchors:hover,
.book .ej2-right-toc li a:hover {
    color: #2a6496;
    cursor: pointer;
    text-decoration: none;
}

.book .book-summary {
    width: 20%;
}

.book .page-wrapper {
    width: 75%;
}

.book .ej2-right-toc {
    top: 135px;
    right: 4%;
    width: 17%;
    position: fixed;
    height: calc(75% - 100px);
    overflow-y: auto;
    border-left: 1px solid #ddd;
}

.book.book.with-summary .ej2-right-toc {
    right: 3%;
}

.book .ej2-right-toc>span {
    padding: 7px;
    padding-left: 15px;
    display: block;
    font-weight: bold;
}

.book .ej2-right-toc ul {
    margin: 0;
    padding: 15px;
    padding-left: 0px;
    padding-top: 10px;
}

.book .ej2-right-toc li {
    padding: 5px;
    padding-left: 15px;
    list-style: none;
    word-break: break-word;
    text-decoration: none;
    border-left: 1px solid transparent;
}

.book .ej2-right-toc .ej2-anchor-h3 {
    padding-left: 30px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book .ej2-right-toc .ej2-anchor-h4 {
    padding-left: 45px;
}

.book .ej2-right-toc .ej2-anchor-h5 {
    padding-left: 50px;
}

.book .ej2-right-toc li a {
    color: #364149;
}

.book .ej2-right-toc li.active,
.book .ej2-right-toc li.active a {
    color: #008cff;
    border-color: #008cff;
}

.book .ej2-right-toc li.selected {
    color: #008cff;
    border-color: #008cff;
    font-weight: bold;
    border-left-width: 2px;
}

.book .ej2-plnkr {
    float: right;
    cursor: pointer;
}

.book .ej2-disabled {
    opacity: 0.4;
    pointer-events: none;
}

.book .ej2-plnkr a:active {
    color: #ffffff;
    background: #008cff;
}

.book .ej2-hidden {
    display: none;
}

.book .ej2-source-tab ul.nav-tabs {
    padding-left: 0px;
}

.book .ej2-source-tab .ej2-source-li a:hover {
    border-radius: 0px;
}

.book .ej2-source-tab .active.ej2-source-li a {
    border: none;
    border-bottom: 3px solid #008cff;
}

.book .ej2-header {
    height: 64px;
    background-color: #007DD1
}

.book-overlay {
    position: absolute;
    top: 65px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: top 300ms ease-in-out;
    overflow: hidden;
}

#footer-nav-bar {
    height: 45px;
    padding: 0px 10px;
}

#footer-nav-bar a {
    text-decoration: none;
    font-size: 1em;
    font-family: inherit;
}

#footer-nav-bar .name {
    display: block;
    font-size: 0.85em;
    color: #8a8a8a;
}

#footer-nav-bar a::before {
    font-family: 'ej2-header-icon';
    color: black;
}

#footer-nav-bar .left {
    float: left;
    position: relative;
    padding-left: 26px;
}

#footer-nav-bar .left::before {
    content: '\e701';
    position: absolute;
    left: 3px;
    top: 1px;
}

#footer-nav-bar .right {
    float: right;
    position: relative;
    padding-right: 26px;
    text-align: right;
}

#footer-nav-bar .right::before {
    content: '\e700';
    position: absolute;
    right: 3px;
    top: 1px;
}

.book-header {
    border-bottom: 1px solid rgba(0, 0, 0, .07)
}

.ej2-head-logo {
    width: 260px;
    height: 42px;
    background: url(images/Header-Image.png) no-repeat;
}

.ej2-header-left {
    float: left;
    padding-top: 10px;
    padding-left: 12px;
}

.ej2-header-right {
    float: right;
}

.ej2-code-container .nav-tabs {
    margin: 0px;
    cursor: default;
}

.ej2-code-container .source,
.ej2-code-container .preview {
    padding-top: 10px;
}

.book-body .body-inner {
    top: 52px;
    height: calc(100% - 55px)
}

.book-summary nav {
    overflow-y: auto;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.book-body {
    overflow-x: hidden;
}

.book-summary {
    overflow-y: inherit;
}

.book-summary {
    top: 1px;
}

.book-header {
    height: 52px;
}

a.btn.pull-left.js-toolbar-action {
    display: none;
}

.ej2-route-title {
    position: absolute;
    padding-top: 12px;
    font-size: 21px;
    color: #337ab7;
    cursor: default;
}

.doc-footer {
    height: 60px;
    border-top: 1px solid #eaeaea;
    overflow-y: hidden;
}

.f-logo {
    background: url(images/Footer-image.png)no-repeat;
    height: 35px;
    width: 180px;
}

.copy-text {
    color: #636363;
    font-size: 14px;
    padding-left: 12px;
}

footer .copyright {
    padding-top: 20px;
}

.page-wrapper {
    min-height: calc(100% - 110px);
}

.js-toolbar-action {
    padding-top: 3px;
}

footer .pull-right {
    padding-top: 14px;
}

.navigation {
    display: none;
}

@media screen and (max-width: 1240px) {
    .book .ej2-right-toc {
        display: none;
    }
    .book.with-summary .book-summary {
        width: 25%;
    }
    .book.with-summary .book-body {
        width: 75%;
        left: 25%;
    }
    .book .page-wrapper,
    .book.with-summary .page-wrapper {
        width: 100%;
    }
}

.b-head-right .btn {
    display: inline-block;
    border-color: transparent;
    border-radius: 30px;
    height: 45px;
    width: 45px;
    color: #333;
    margin-top: 2.5px;
    line-height: 45px;
    border-bottom: 1px solid transparent;
    padding-top: 2px;
}

.b-head-right .btn[disabled]:hover {
    border-color: transparent;
}

.b-head-right .btn:focus {
    outline: none!important;
}

.b-head-right .btn:hover {
    color: #333;
    background-color: #e6e6e6;
}

@media screen and (max-width: 768px) {
    .book.with-summary .book-summary {
        width: 35%;
    }
    .book.with-summary .book-body {
        width: 65%;
        left: 35%;
        transform: none;
    }
}

@media screen and (min-width:1241px) {
    .book-summary {
        left: 0px;
    }
    .book-body {
        left: 20%!important;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .book.with-summary .book-summary {
        width: calc(100% - 60px);
    }
    .ej2-code-container .nav-tabs {
        padding-left: 0px;
    }
    .book.with-summary .book-body {
        left: calc(100% - 60px);
    }
    .ej2-code-container .nav-tabs>li {
        max-width: 40%;
    }
    .book .ej2-plnkr {
        display: none;
    }
}

@media screen and (min-width: 150px) and (max-width: 480px) {
    .b-head-right .btn:hover,
    .b-head-right .btn,
    .b-head-right .btn:active,
    .b-head-right .btn-default:active:hover {
        border: none;
        background: transparent;
    }
}

@media screen and (max-width: 794px) {
    a.btn.pull-left.js-toolbar-action {
        display: block;
        padding-top: 3px;
        padding-left: 0px;
    }
    .ej2-route-title {
        left: 28px;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        max-width: calc(100% - 120px);
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 464px) {
    footer .pull-right {
        display: none;
    }
    footer .copyright {
        float: none!important;
        text-align: center;
    }
}

.hide-api {
    display: none;
}